
.app {
  background: rgba(162,86,100,1);
  background: url("https://www.transparenttextures.com/patterns/az-subtle.png"), radial-gradient(circle, rgba(26,233,233,1) 0%, rgba(162,86,100,1) 100%);
  font-family: 'Fira Sans', sans-serif;
  min-height:120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
