
.app {
  background: rgba(162,86,100,1);
  background: url("https://www.transparenttextures.com/patterns/az-subtle.png"), radial-gradient(circle, rgba(26,233,233,1) 0%, rgba(162,86,100,1) 100%);
  font-family: 'Fira Sans', sans-serif;
  min-height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.app .bg-info {
  border-radius: 0.2em;
}

.card {
  flex-direction: row;
  align-items: center;
  max-height: 20vh;
}
.card-title {
  font-weight: bold;
}
.card img {
  max-width: 18vh;
  max-height: 18vh;
  border-top-right-radius: 0;
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.splash-screen {
  background-image: url("/../snap-up-app/public/splashtitle2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh
      
  
}