
/* pallet: https://coolors.co/6e6466-f1e3d3-99c1b9-8e7dbe-d88c9a-dfa0ab-b83d54

 */

 .pusheen {
  --border:  #f1e3d3;
  --bg: #99c1b9;
  --img-border: #f2d0a9;
  --bg-img: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
}

.horror {
  --border:  #433e3e;
  --bg: #510b09;
  --img-border: #f2d0a9;
  --bg-img: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  --font-color: #ffffff;
}

.sailor-moon {
  --border:  #f1e3d3;
  --bg: #b68bd1;
  --img-border: #f2d0a9;
  --bg-img: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
}

.goldengirls {
  --border: white;
  --bg: rgb(255, 255, 236);
  --img-border: grey;
  --bg-img: url("https://www.transparenttextures.com/patterns/black-linen.png")
}

.cereal {
  --border: #539aff;
  --bg: rgb(0 102 239);
  --img-border: #539aff;
  --bg-img: url("https://www.transparenttextures.com/patterns/candyhole.png");
  --font-color: #ffffff;
}

.animal-crossing {
  --border:  #f1e3d3;
  --bg: transparent;
  --img-border: #e1b82c;
  --bg-img: url("/../snap-up-app/public/cardImages/animalcrossing/ACbackground.png");
  --font-color: #ffffff;
  
}



/* end of deck styles */

.card-show {
  display: flex;
  margin: .5em;
  background-color: transparent;
  --cost:#1AE9E9;
  --power: #A25664;
  user-select: none;
  cursor: pointer;
  position: relative;
  transform-style: preserve-3d;
  
}



.card-main {
  font-family: 'Fira Sans', sans-serif;
  background-color: var(--bg);
  background-image: var(--bg-img);
  height: 10em;
  width: 7.5em;
  border: .25em solid var(--border);
  color: black;
  z-index: 10;
  position: relative;
  border-radius: 5% 0% 5% 5%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 2px 2px 2px black
  
}

.card-back {
  display: flex;
  height: 10em;
  width: 7.5em;
  border: .25em solid #900000;
  border-radius: 0% 5% 5% 5%;
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  
}


.card-main-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height:25%;
  line-height: normal;
  
}

.card-main-name {
  width: 70%;
  height: 100%;
  white-space: nowrap;
  font-style: italic;
  margin-top: 3px;
  margin-left: 2px;
  color: var(--font-color);
}

.card-cost-container {
  
  position: relative;
  
}

.card-cost-shape {
  width: 0;
  height: 0;
  border-top: 2em solid var(--cost);
  border-left: 2em solid transparent;
  position: absolute;
  right: 0
  
  
}

.card-cost {
  z-index: 9;
  right: .2em;
  position: absolute;
  font-weight: bolder;
  -webkit-text-stroke: 1px #ffffff;
  color:#ffffff;
  text-shadow: 2px 2px 2px black;

}

.card-main-img {
  width: 6em;
  height: 6em;
  border: .2em solid var(--img-border);
  border-radius: 5%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: contain;
}

.card-main-power {
  background-color: var(--power);
  width: 1.5em;
  height: 1.5em;
  border: .1em solid var(--border);
  border-radius: 50%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 230%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  -webkit-text-stroke: 1px #ffffff;
  text-shadow: 1px 1px 2px black;
  font-weight: bold;
}