
/* pallet: https://coolors.co/6e6466-f1e3d3-99c1b9-8e7dbe-d88c9a-dfa0ab-b83d54

 */

 .pusheen {
  --border:  #f1e3d3;
  --bg: #99c1b9;
  --img-border: #f2d0a9;
  --bg-img: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
}

.horror {
  --border:  #433e3e;
  --bg: #510b09;
  --img-border: #f2d0a9;
  --bg-img: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  --font-color: #ffffff;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.sailor-moon {
  --border:  #f1e3d3;
  --bg: #b94ba1;
  --img-border: rgb(255, 245, 100);
  --bg-img: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
  font-weight: bold;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  --font-color: #ffffff;
}

.goldengirls {
  --border: white;
  --bg: rgb(255, 255, 236);
  --img-border: grey;
  --bg-img: url("https://www.transparenttextures.com/patterns/black-linen.png")
}

.cereal {
  --border: #539aff;
  --bg: rgb(0 102 239);
  --img-border: #539aff;
  --bg-img: url("https://www.transparenttextures.com/patterns/candyhole.png");
  --font-color: #ffffff;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.animal-crossing {
  --border:  #f1e3d3;
  --bg: transparent;
  --img-border: #e1b82c;
  --bg-img: url("/../snap-up-app/public/cardImages/animalcrossing/ACbackground.png");
  --font-color: #ffffff;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  font-weight: bold;
}

.friends {
  --border: rgb(68, 77, 78);
  --bg: rgb(75, 123, 137);
  --img-border: rgb(43, 109, 145);
  --bg-img: url("https://www.transparenttextures.com/patterns/circles.png");
  --font-color: #ffffff;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  font-weight: bold;
  
}

.firefly {
  --border:  #454b52;
  --bg: transparent;
  --img-border: #2c0839;
  --bg-img: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d8437b5c-1fb4-40c2-8d5c-37540815aff4/d19inun-877fc11d-250c-4497-b990-bb235151d1fd.jpg/v1/fill/w_600,h_450,q_75,strp/space_texture_by_extince_d19inun-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NDUwIiwicGF0aCI6IlwvZlwvZDg0MzdiNWMtMWZiNC00MGMyLThkNWMtMzc1NDA4MTVhZmY0XC9kMTlpbnVuLTg3N2ZjMTFkLTI1MGMtNDQ5Ny1iOTkwLWJiMjM1MTUxZDFmZC5qcGciLCJ3aWR0aCI6Ijw9NjAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.-6QF6o9YZIH6VL5hVSKP8veWxp0cW_xFEyXYNmiPYTM");
  --font-color: #ffffff;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  font-weight: bold;
}

/* end of deck styles */

.card-show {
  display: flex;
  margin: .5em;
  background-color: transparent;
  --cost:#1AE9E9;
  --power: #A25664;
  user-select: none;
  cursor: pointer;
  position: relative;
  transform-style: preserve-3d;
  
}

.card-main {
  font-family: 'Fira Sans', sans-serif;
  background-color: var(--bg);
  background-image: var(--bg-img);
  height: 8em;
  width: 6em;
  border: .20em solid var(--border);
  color: black;
  z-index: 10;
  position: relative;
  border-radius: 5% 0% 5% 5%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 2px 2px 2px black
  
}

.card-back {
  display: flex;
  height: 8em;
  width: 6em;
  border: .25em solid #900000;
  border-radius: 0% 5% 5% 5%;
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  
}


.card-main-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height:25%;
  line-height: normal;
  
}

.card-main-name {
  width: 70%;
  height: 100%;
  white-space: nowrap;
  font-style: italic;
  margin-top: 3px;
  letter-spacing: -1px;
  font-size: smaller;
  margin-left: 2px;
  color: var(--font-color);
}

.card-cost-container {
  
  position: relative;
  
}

.card-cost-shape {
  width: 0;
  height: 0;
  border-top: 1.8em solid var(--cost);
  border-left: 1.3em solid transparent;
  position: absolute;
  right: 0
  
  
}

.card-cost {
  z-index: 9;
  right: .1em;
  
  position: absolute;
  font-weight: bolder;
  -webkit-text-stroke: 1px #ffffff;
  color:#ffffff;
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);

}

.card-main-img {
  width: 5em;
  height: 5em;
  border: .2em solid var(--img-border);
  border-radius: 5%;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: contain;
}

.card-main-power {
  background-color: var(--power);
  width: 1.5em;
  height: 1.5em;
  border: .1em solid var(--border);
  border-radius: 50%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 190%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 1px 1px 2px black;
  font-weight: bold;
}