.game {
  background-color: #1f2228;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.battlefield {
  display: flex;

}

.player-zone {
  display: flex;
  flex-direction: row;
  width: 68em;
}
/* add or subtract to width of player zone to change the amount of cards in hand before wrapping. */

.card-zone {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.hand {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.lane {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid black;
  background-color: #85709d;
  width: 25em;
  

}

.player-lane-power {
  height: 50px;
  width: 50px;
  background-color: goldenrod;
  text-align: center;
  font-weight: bolder;
}

.location {
  height: 100;
  width: 100px;
}


.deck {
  display: flex;
  height: 10em;
  width: 7.5em;
  margin: 1em;

  justify-self: left;
  
}

.opp-pz {
  display: none
}

.current-energy {
  background-color: rgb(26, 233, 233);
  height: 2em;
  width: 2em;
  margin: 1em;
  text-align: center;
  padding-top: 0.5em;
  border-radius: 50%;
}

.current-turn {
  background-color: rgb(59, 214, 35);
  height: 2em;
  width: 2em;
  margin: 1em;
  text-align: center;
  padding-top: 0.5em;
  border-radius: 50%;
  
}