
.pusheen-pool {
  --lane-bg-color: rgb(248, 186, 197, 0.5);
  --lane-bg-img: url("../../public/cardImages/pusheen/pusheen-pool.png");
}

.pusheen-zoo {
  --lane-bg-color: rgb(248, 186, 197, 0.5);
  --lane-bg-img: url("../../public/cardImages/pusheen/pusheen-zoo.jpeg");
}

.horror-elmstreet {
  --lane-bg-color: rgba(205, 17, 17, 0.5);
  --lane-bg-img: url("https://i.pinimg.com/originals/72/66/4f/72664f686ee0c9ade23bb2daff6384dd.jpg");
  background-position: center;
  background-size: cover;
  --lane-border: darkred;
}

.horror-crystallake {
  --lane-bg-color: rgba(205, 17, 17, 0.5);
  --lane-bg-img: url("https://wallpapercave.com/wp/wp5780718.jpg");
  background-position: center;
  background-size: cover;
  --lane-border: darkred;
}

.cereal-milkcarton {
  --lane-bg-color: rgb(255, 254, 254);
  --lane-bg-img: url("https://e1.pxfuel.com/desktop-wallpaper/650/283/desktop-wallpaper-cute-milk-carton-cute-milk-thumbnail.jpg");
  background-position: center;
  background-size: cover;
  --lane-border: rgb(97, 218, 255);
}

.golden-girls-richmond {
  --lane-bg-color: rgb(244, 225, 16, 0.5);
  --lane-bg-img: url("https://w0.peakpx.com/wallpaper/540/323/HD-wallpaper-florida-palms-fan-gold-golden-girls-leaf-leaves-palm-palm-tree-pattern-the-golden-girls.jpg");
  --lane-border: rgb(244, 225, 16);
  background-size: cover;
}

.golden-girls-shadypines {
  --lane-bg-color: rgb(244, 225, 16, 0.5);
  --lane-bg-img: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/shady-pines-retirement-home-miami-florida-golden-girls-favorite-brindle-southern.jpg");
  background-position: center;
  --lane-border: rgb(244, 225, 16);
}

.animal-crossing-deck {
  --lane-bg-color: transparent;
  --lane-bg-img: url("https://dodo.ac/np/images/4/48/NH_Nook%27s_Cranny_Upgraded_Exterior.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  --lane-border: darkgreen;
}

.sailor-moon-crystaltokyo {
  --lane-bg-color: silver;
  --lane-bg-img: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2e907edb-774e-4d6b-9101-4c4e1b2dd5f8/dctmd0v-984c0fc0-27f1-4413-b843-5af7e06d3e50.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzJlOTA3ZWRiLTc3NGUtNGQ2Yi05MTAxLTRjNGUxYjJkZDVmOFwvZGN0bWQwdi05ODRjMGZjMC0yN2YxLTQ0MTMtYjg0My01YWY3ZTA2ZDNlNTAucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Et_Ey_7Eaz72o8HkPKsjUL4GCxUCgs--T_Ie_t2ucFk");
  background-position: center;
  --lane-border: darkblue; 
}

.sailor-moon-negaverse {
  --lane-bg-color: purple;
  --lane-bg-img: url("https://wallpapercave.com/wp/wp9615576.jpg");
  --lane-border: indigo;  
  background-size: cover;
  background-position: center;

}

.game {
  background: rgb(26,233,233);
  background: url("https://www.transparenttextures.com/patterns/bright-squares.png"), radial-gradient(circle, rgba(26,233,233,1) 0%, rgba(162,86,100,1) 100%);
  font-family: 'Fira Sans', sans-serif;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.battlefield {
  display: flex;
  --lane-border:  #1AE9E9;
  --lanebg: transparent;

}

.player-zone {
  display: flex;
  flex-direction: row;
  width: 76em;
  ;
}
/* add or subtract to width of player zone to change the amount of cards in hand before wrapping. */

.hand {
  border: .3em dotted #ffffff;
  min-width: 50em;
  min-height: 12em;
}

.opp-card-zone {
  border-radius: 3em;
}
.card-zone {
  display: flex;
  flex-wrap: wrap;
  border-radius: 3em;
  height: 24em;
  width: 18em;
  
  
}

.drop-card-zone {
  border-radius: 3em;
  
  
  
}

.hand {
  display: flex;
  background-color: transparent;
  flex-direction: row;
  flex-wrap: wrap;
}


.lane {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid var(--lane-border);
  border-radius: 3em;
  background-color: var(--lane-bg-color);
  background-image: var(--lane-bg-img);
  width: 20em;
  margin: .5em;
  opacity: .9;
}

.player-lane-power {
  height: 3em;
  width: 3em;
  background-color: goldenrod;
  text-align: center;
  font-weight: bolder;
  border-radius: 50%;
  display: flex;
  align-items: center; 
  justify-content: center;
  border-style: outset;
  border-color: cornsilk;
}

.location {
  height: 2em;
  background-color: #A25664;
  border: .25em outset #884753;
  margin: .5em;
}


.deck {
  display: flex;
  height: 10em;
  width: 7.5em;
  margin: 1em;
  cursor: pointer;
  justify-self: left;
  border-style: outset;
  border-color: #900000;
  
}

.opp-pz {
  display: none
}

.current-energy {
  background-color: #1AE9E9;
  -webkit-text-stroke: 1px #ffffff;
  color:#ffffff;
  font-size: xx-large;
  text-shadow: 3px 3px 2px black;
  height: 2em;
  width: 2em;
  margin: 1em;
  text-align: center;
  border-radius: 5%;
  font-weight: bolder;
  display: flex;
  align-items: center; 
  justify-content: center;
  border-style: outset;
  border-color: cyan;
}

.current-turn {
  background-color: rgb(59, 214, 35);
  -webkit-text-stroke: 1px #ffffff;
  color:#ffffff;
  font-size: xx-large;
  text-shadow: 3px 3px 2px black;
  height: 2em;
  width: 2em;
  margin: 1em;
  text-align: center;
  border-radius: 5%;
  font-weight: bolder;
  display: flex;
  align-items: center; 
  justify-content: center;
  border-style: outset;
  border-color: chartreuse;
  line-height: normal;
}

.player-data-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 60em;
}

.avatar img {
  border-radius: 50%;
  border-style: groove;
  height: 6em;
  width: 6em;
  object-fit: contain;
}

.opp-avatar {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 4em;
}

.player-avatar {
  display: flex;
  
  flex-direction: column-reverse;
  margin-bottom: 4em;
}